body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

#chat-container {
    height: 780px;
    max-width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chat-header {
    padding: 10px;
    background-color: #0084ff;
    color: rgb(228, 165, 30);;
}

#chat-header h1 {
    font-family: "Oleo Script", sans-serif;

}

#chat-messages {
    padding: 10px;
    overflow-y: scroll;
    max-height: 100%;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message-content {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.received {
    margin-left: auto;
   
}

.sent {
    margin-right: auto;
    background-color: #0084ff;
    color: #fff;
    align-self: flex-end;
}

.message-content p {
    margin: 0;
}

.timestamp {
    font-size: 12px;
    color: #888;
}

#chat-input {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#send-button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0073e6;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.sent{
    padding: 1.5rem;
    background-color:#0084ff ;
    border-radius: 10px;
}
.recieve{
    margin-left: auto;
    padding: 1.5rem;
    background-color:#f1f1f1 ;
    border-radius: 10px;
}