
/*** Light Mode Theme ***/
:root, [data-theme="default"] {
    --body--background--color:rgb(200, 200, 231);
    --article-list--text--color:black;
    --article-list--card--backgorund--color:rgb(96, 128, 138);
    --h2--color: dark;
    --about--card--color:rgb(158, 203, 221);
    
  }
  /* Dark Mode Theme */
  [data-theme="dark"] {
    
    --body--background--color:#141e30;
    --article-list--text--color:white;
    --article-list--card--backgorund--color: rgba(0,0,0,.5);
    --h2--color: rgb(158, 156, 167);
    --about--card--color:linear-gradient(#182a4b, #0c2e55);
  }
  
  
  
  
  
  body{
      margin: 0;
      background-color: var(--body--background--color);
      ;
  }





#doctor_container{
    list-style: none;
    justify-items: center;
}


#doctor_container li{
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    
    margin: 2rem;
    background-color:  var(--article-list--card--backgorund--color);
    border-radius: 10px;
    overflow: hidden;

}
#doctor_container img{
    height: 500px;
    width: 500px;
    object-fit: fill;
}
.content{
    width: 30%;
    margin: 1rem 2rem 7rem 2.5rem;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.content h2{
    font-size: 2rem;
    color:  rgb(228, 165, 30);
}
.content div p{
    font-size: 1.5rem;
    color: var(--article-list--text--color);
}
.content div a{
    text-decoration: none;
    margin: 0 2rem 1rem auto;
    font-size: 1rem;
    font-weight:900;
    padding: 15px 25px;
    border-radius: 8px;
    color:  rgb(228, 165, 30);
    box-shadow:#0c2e55;
}

.content div a:hover{
background-color: rgb(228, 165, 30);
color: white;
box-shadow: 0 0 5px rgb(228, 165, 30),
0 0 25px rgb(228, 165, 30),
0 0 50px rgb(228, 165, 30),
0 0 100px rgb(228, 165, 30);
border: none;
}

@media (max-width:852px) {

    #doctor_container li{
        flex-direction: column;
        justify-content: center;
    }
    #doctor_container li img{
        width: auto;
    }
}