:root, [data-theme="default"] {
   --respond--hidden:none;
  }
  /* Dark Mode Theme */
  [data-theme="dark"] {
    
    --respond--hidden:block;
  }



body{
 background-color:rgb(200, 200, 231);
 margin-top: 10px;
}


#container{
    margin: 4rem auto;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    width: 32rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#container img{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin: 0 10% 0 10%;
    border-radius: 10px;
    object-fit:fill ;
}



#container h2{
    color: rgb(4, 62, 77);
    font-size: 2.5rem;
    margin: 2rem auto;
}
#container p{
    
    margin: 1rem auto;
}
form{
    width: 30%;
    margin: 1rem auto;
}
input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #241361;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #250e64;
    outline: none;
    background: transparent;
}
label{
    /* position: absolute; */
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: lighters;
    color:  rgb(228, 165, 30);
    pointer-events: none;
}

 form a{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 2rem 1rem auto;

    font-weight:900;
    margin-left: 35%;
    padding: 15px 25px;
    border-radius: 8px;
    color:  rgb(228, 165, 30);
    box-shadow:#0c2e55;
}

 a:hover{
background-color: rgb(228, 165, 30);
color: white;
box-shadow: 0 0 5px rgb(228, 165, 30),
0 0 25px rgb(228, 165, 30),
0 0 50px rgb(228, 165, 30),
0 0 100px rgb(228, 165, 30);
border: none;
}

#succeed{

    display: flex;
    justify-content: center;  
}
#succeed p{
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgb(228, 165, 30);
    background-color: #0c2e55;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);;

}