:root, [data-theme="default"] {
    --body--background--color:rgb(200, 200, 231);
    --article-list--text--color:black;
    --article-list--card--backgorund--color:rgb(96, 128, 138);
    --h2--color: dark;
    --about--card--color:rgb(158, 203, 221);
    
  }
  /* Dark Mode Theme */
  [data-theme="dark"] {
    
    --body--background--color:#141e30;
    --article-list--text--color:white;
    --article-list--card--backgorund--color: rgba(0,0,0,.5);
    --h2--color: rgb(158, 156, 167);
    --about--card--color:linear-gradient(#182a4b, #0c2e55);
  }

body{
    background-color: var(--body--background--color);
}


#con{
    width: 80%;
    margin: 0 auto;
}


.doctor{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin: 3rem auto;
    background-color: var(--article-list--card--backgorund--color);
    padding: 0;

    


}

.doctor img{
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 320px;
    /* margin: 0 10% 0 10%; */
    border-radius: 10px;
    object-fit: fill ;
}

.content{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h2{
color: var(--h2--color);
}
.content{
    font-size: 1.2rem;
    color: var(--article-list--text--color);
}

.content a{
    text-decoration: none;
    margin: 0 2rem 1rem auto;
    margin-left: auto;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 1000;
    color: rgb(240, 170, 19);
    
  }
  .content a:hover{
     background: rgb(228, 165, 30);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(228, 165, 30),
                0 0 25px rgb(228, 165, 30),
                0 0 50px rgb(228, 165, 30),
                0 0 100px rgb(228, 165, 30);
    color: white;
    padding: 0.8rem;
    border-radius: 6px;
  }

  .response{
    color:var(--h2--color) ;
    padding: 2rem;
    background-color:var(--article-list--card--backgorund--color) ;
    border-radius: 10px;
  }
  .response h1{
    padding: 2rem;
    
  }
