html {
    height: 100%;
  }
  body {
    
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }



   h1 {
    font-family: "Oleo Script", sans-serif;
    margin-left: 1rem;
    font-size: 2rem;
    
  }  
 h1 a{
  margin-left: 44%;
   justify-self: center;
    color: rgb(228, 165, 30);
    text-decoration: none;
    padding: 0.3rem;
    font-size: larger;
   
}


  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(228, 165, 30)    ;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(228, 165, 30);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: rgb(228, 165, 30);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(228, 165, 30),
                0 0 25px rgb(228, 165, 30),
                0 0 50px rgb(228, 165, 30),
                0 0 100px rgb(228, 165, 30);
  }
  
 #sign_up a {
  font-size: 0.8rem;
  padding: 0;

 }
  
 #succeed p{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2rem;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  background-color: #243b55;
  border-radius: 12px;
  font-size: 1.5rem;
  color: rgb(228, 165, 30);
  z-index: 4;
 }
 
  



  

 