/* *,
*::after,
*::before {
    box-sizing: border-box;
} */
/* =====================================================
    Some defaults across all toggle demos
    ===================================================== */
.toggle {
    display: block;
    padding-top: 1.5rem;
    /* position: absolute; */
    text-align: center;
    margin-top: auto;
    user-select: none;
    z-index: 3;
}
    .toggle--checkbox {
    display: none;
    }
    .toggle--btn {
        display: block;
        margin: 0 auto;
        font-size: 1.4em;
        transition: all 350ms ease-in;
        &:hover {
            cursor: pointer;
        }
    }
    .toggle--btn,
    .toggle--checkbox,
    .toggle--feature {
        &,
        &:after,
        &:before {
            transition: all 250ms ease-in;
        }
        &:after,
        &:before {
            content: '';
            display: block;
        }
    }

    .toggle--daynight,
    .toggle--like {
        .toggle--btn {
            position: relative;
            height: 35px;
            width: 67px;
            border-radius: 14px;
            
            &:after {
                position: absolute;
                top: 1px;
                left: 2px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
            }
        }
    }
    .toggle--daynight {
        .toggle--btn {
            border: 5px solid  #e3e3c7;
            background-color: #3c4145;
           
            &:after {
                background-color:  #fff;
                border: 5px solid #e3e3c7;
            }
            &:before {
                position: absolute;
                top: 62%;
                left: 125px - (56px) - (10px) - 20px;
                z-index: 10;
                width: 28px / 5;
                height: 28px / 5;
                opacity: 0;
                background-color: #fff;
                border-radius: 50%;
                box-shadow: #fff 0 0,
                            #fff 3px 0,
                            #fff 6px 0,
                            #fff 9px 0,
                            #fff 11px 0,
                            #fff 14px 0,
                            #fff 16px 0,
                            #fff 21px -1px 0 1px,
                            #fff 16px -7px 0 -2px,
                            #fff 7px -7px 0 1px,
                            #d3d3d3 0 0 0 4px,
                            #d3d3d3 6px 0 0 4px,
                            #d3d3d3 11px 0 0 4px,
                            #d3d3d3 16px 0 0 4px,
                            #d3d3d3 21px -1px 0 5px,
                            #d3d3d3 16px -7px 0 1px,
                            #d3d3d3 7px -7px 0 5px;
                transition: opacity 100ms ease-in;
            }
        }
        @keyframes starry_star {
            50% {
                background-color: rgba(255,255,255,0.1);
                box-shadow: #fff 30px -3px 0 0,
                            #fff 12px 10px 0 -1px,
                            rgba(255,255,255,0.1) 38px 18px 0 1px,
                            #fff 32px 34px 0 0,
                            rgba(255,255,255,0.1) 20px 24px 0 -1.5px,
                            #fff 5px 38px 0 1px;
            }
        }
        @keyframes bounceIn {
            0% {
                opacity: 0;
                transform: scale(.3);
            }
            50% {
                opacity: 100;
                transform: scale(1.1);
            }
            55% {
                transform: scale(1.1);
            }
            75% {
                transform: scale(.9);
            }
            100% {
                opacity: 100;
                transform: scale(1);
            }
        }
        
        .toggle--feature {
            display: block;
            position: absolute;
            top: 9px;
            left: 52.5%;
            z-index: 20;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: rgba(255,255,255,0.1) 30px -3px 0 0,
                        rgba(255,255,255,0.1) 12px 10px 0 -1px,
                        #fff 38px 18px 0 1px,
                        rgba(255,255,255,0.1) 32px 34px 0 0,
                        #fff 20px 24px 0 -1.5px,
                        rgba(255,255,255,0.1) 5px 38px 0 1px;
            animation: starry_star 5s ease-in-out infinite;
            &:after {
                position: absolute;
                top: -2px;
                left: -25px;
                width: 18px;
                height: 18px;
                background-color: #fff;
                border-radius: 50%;
                border: 5px solid #e3e3c7;
                box-shadow: #e3e3c7 -28px 0 0 -3px,
                            #e3e3c7 -8px 24px 0 -2px;
                transform-origin: -6px 130%;
            }
        }
      
        .toggle--checkbox:checked {
                & + .toggle--btn {
                background-color: #9ee3fb;
                border: 5px solid #86c3d7;
                &:after {
                    left: 125px - (56px) - (5px * 2) - 4px;
                    background-color: #ffdf6d;
                    border: 5px solid #e1c348;
                    margin-left: 30px;
                }
                &:before {
                    opacity: 100;
                    animation-name: bounceIn;
                    animation-duration: 0.60s;
                    animation-delay: 0.10s;
                    animation-fill-mode: backwards;
                    animation-timing-function: ease-in-out;
                }
                > .toggle--feature {
                    opacity: 0;
                    box-shadow: rgba(255,255,255,0.1) 30px -3px 0 -4px,
                                rgba(255,255,255,0.1) 12px 10px 0 -5px,
                                #fff 38px 18px 0 -3px,
                                rgba(255,255,255,0.1) 32px 34px 0 -4px,
                                #fff 20px 24px 0 -5.5px,
                                rgba(255,255,255,0.1) 5px 38px 0 -3px;
                    animation: none;
                    &:after {
                        left: 25px;
                        transform: rotate(70deg);
                    }
                }
            }
        }
    }
    /* Add this CSS code after the existing CSS code */

/* .toggle--daynight .toggle--feature {
    transition: transform 0.3s ease-in-out;
}

.toggle--daynight .toggle--checkbox:checked + .toggle--btn .toggle--feature {
    transform: rotate(180deg);
} */
/* Add this CSS code after the existing CSS code */

/* .toggle--daynight .toggle--btn {
    flex-direction: row-reverse;
}

.toggle--daynight .toggle--btn:before {
    right: auto;
    left: 10px;
}

.toggle--daynight .toggle--btn:after {
    right: auto;
    left: 2px;
} */

/* .toggle--daynight .toggle--feature {
    right: auto;
    left: 0;
} */

/* .toggle--daynight .toggle--checkbox:checked + .toggle--btn:before {
    right: auto;
    left: 125px - (56px) - (10px) - 20px;
}

.toggle--daynight .toggle--checkbox:checked + .toggle--btn .toggle--feature:after {
    right: auto;
    left: 25px;
    transform-origin: -6px 130%;
} */
