@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



header{
    margin-top: 0;
    margin-bottom: 2rem;
    position: relative;
   
}


.container{
    width: 100%;
    /* height: 400px; */
    
}
.nav {
    height: 100px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#182a4b, #0c2e55);
    position: relative;
    border: none;
    border-radius: 10px 10px 0 0;
}
.nav h1 {
    font-family: "Oleo Script", sans-serif;
    margin-left: 1rem;
    font-size: 2rem;
    
  }  
.nav h1 a{
    color: rgb(228, 165, 30);
    text-decoration: none;
    padding: 0.3rem;
    font-size: larger;
}
.nav h1 a:hover{
    background: rgb(228, 165, 30);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(228, 165, 30),
                0 0 25px rgb(228, 165, 30),
                0 0 50px rgb(228, 165, 30),
                0 0 100px rgb(228, 165, 30);
}
  
.nav  .nav-header {
    width: 50%;
    display: inline;
}
  
.nav  .nav-header  .nav-title {
    display: flex;
    font-size: 22px;
    padding: 10px;
    font-family: "Oleo Script";
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 1rem;

  }
  
.nav  .nav-btn {
    display: none;
}
  
.nav  .nav-links {
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    column-gap: 20px;
    font-size: 18px;
    border: none;
    border-radius: 0 0 10px 10px;
    margin-right: 1rem;
}
  #nav-left{
    display: flex;
    flex-direction: row;
    width: 75%;
    /* column-gap: 20px; */
    /* font-size: 18px; */
    /* border: none; */
    border-radius: 0 0 10px 10px;
    /* margin-right: 1rem; */
  }



.nav  .nav-links  a {
    font-size: 1.5rem;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: rgb(228, 165, 30);
}
  
.nav  .nav-links  a:hover {
    background: rgb(228, 165, 30);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(228, 165, 30),
                0 0 25px rgb(228, 165, 30),
                0 0 50px rgb(228, 165, 30),
                0 0 100px rgb(228, 165, 30);
}
  
.nav  #nav-check {
    display: none;
}
  
@media (max-width:852px) {
    .nav  .nav-btn {
      display: inline-block;
      /* position: absolute; */
      height: 5rem;
      width: 5rem;
      margin: auto 1rem;
      /* margin: 1rem; */
    }
    .nav  .nav-btn  label {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      width: 70px;
      height: 40px;
      padding: 15px;
      border: none;
      border-top-right-radius: 10px;
    }

    .nav  .nav-links  a:hover {
        background: rgb(228, 165, 30);
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(228, 165, 30),
                    0 0 25px rgb(228, 165, 30);
    }



    .nav  .nav-btn  label:hover,.nav  #nav-check:checked ~ .nav-btn  label {
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    .nav  .nav-btn  label  span {
      display: block;
      width: 70%;
      height: 10px;
      background-color: rgb(228, 165, 30);
      border-radius: 5px;
    }
    .nav  .nav-links {
      position: absolute;
      z-index: 9;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 100px;
      left: 0px;
    }
    .nav  .nav-links  a {
      display: block;
      width: 100%;
      padding-left: 20px;
    }
    .nav  #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav  #nav-check:checked ~ .nav-links {
      height: 250px;
      overflow-y: hidden;
    }
}

.attribute{
    position: absolute;
    bottom: 10px;
}