
/*** Light Mode Theme ***/
:root, [data-theme="default"] {
  --body--background--color:rgb(228, 228, 243);
  --article-list--text--color:black;
  --article-list--card--backgorund--color:white;
  --h2--color: dark;
  --about--card--color:rgb(158, 203, 221);
  
}
/* Dark Mode Theme */
[data-theme="dark"] {
  
  --body--background--color:#141e30;
  --article-list--text--color:white;
  --article-list--card--backgorund--color: rgba(0,0,0,.5);
  --h2--color: rgb(158, 156, 167);
  --about--card--color:linear-gradient(#182a4b, #0c2e55);
}





body{
    margin: 0;
    background-color: var(--body--background--color);
    ;
}
  
main {
  margin: 0 1rem;
}
#article-list{
  padding: 0;
width: auto;
margin: auto 2rem 2rem 2rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
-webkit-column-gap: 1rem;
row-gap: 1rem;
/* width: 100%; */
}

#article-list li img{
  width: 12rem;
  height: auto;
  object-fit: cover;

}
#article-list li{
  display: flex; 
  padding-bottom: 0;
  /* width: auto; */
  overflow: hidden;
  background-color:var(--article-list--card--backgorund--color);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 8px;
  border: none;
  
}
#article-list li a{
text-decoration: none;
}

div p{
  color: var(--article-list--text--color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}


#article-list  li:nth-of-type(4){
  grid-column: 1 / span 2;
}
#article-list  li:nth-of-type(7){
  grid-column: 2 / span 2;
}
h2{
  font-size: 2rem;
  color:var(--h2--color);
}
.content{
  margin-left: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.content a{
  margin: 0 2rem 1rem auto;
  margin-left: auto;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 1000;
  color: rgb(240, 170, 19);
  
}
.content a:hover{
   background: rgb(228, 165, 30);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(228, 165, 30),
              0 0 25px rgb(228, 165, 30),
              0 0 50px rgb(228, 165, 30),
              0 0 100px rgb(228, 165, 30);
  color: white;
  padding: 0.8rem;
  border-radius: 6px;
}

#about{
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  background-color:  var(--about--card--color);
}
#about p{
  width: auto;
  margin: 1rem 1rem;
  font-size: 1.2rem;
}
#about img{
  /* object-fit:cover; */
  height: 40rem;
  width: 30rem;
}

h2{
  margin: 1.2rem;
}

/* .test,.test1,.test2{
  visibility: hidden;
} */
/* #article-list li div h2{
  color: rgb(228, 165, 30);
} */

@media(max-width: 1210px){
  #article-list li{
    flex-direction: column;
  }
  #article-list li img{
    width: auto;
    height: 15rem;
  }
  #about{
    flex-direction: column;
    align-items: center;
  }
  #about img{
    width: auto;
    border-radius: 10px;
  }
  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 1rem;
  }
  .nav-btn  label {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 50px;
    height: 50px;
    padding: 15px;
    border: none;
    border-top-right-radius: 10px;
  }
  .nav-btn  label  span {
    display: block;
    width: 40px;
    height: 8px;
    background-color: rgb(228, 165, 30);
    border-radius: 5px;
  }
}






@media (max-width: 768px){
  #article-list{
  
    grid-template-columns: 1fr 1fr;
    width: 100%;
   
    }
    #article-list  li:nth-of-type(4){
      grid-column: auto ;
    }
    #article-list  li:nth-of-type(7){
      grid-column: auto ;
    }
    #article-list  li:nth-of-type(8){
      grid-column: auto ;
    }

}

@media(max-width: 560px){
  #article-list{
    display: block;
  }
}








