
/*** Light Mode Theme ***/
:root, [data-theme="default"] {
    --body--background--color:rgb(200, 200, 231);
    --article-list--text--color:black;
    --article-list--card--backgorund--color:rgb(96, 128, 138);
    --h2--color: dark;
    --about--card--color:rgb(158, 203, 221);
    
  }
  /* Dark Mode Theme */
  [data-theme="dark"] {
    
    --body--background--color:#141e30;
    --article-list--text--color:white;
    --article-list--card--backgorund--color: rgba(0,0,0,.5);
    --h2--color: rgb(158, 156, 167);
    --about--card--color:linear-gradient(#182a4b, #0c2e55);
  }




body{
    align-items: center;
}

#container{
    align-items: center;
}

#art_show{

    margin: 0 auto;

    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    list-style: none;
   
}

#art_show li{
    margin:0 auto;
    width: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:var(--article-list--card--backgorund--color);
    padding: 2rem;
    border-radius: 15px;
}


#art_show img{
    width: 75%;
    height: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}
 p{
    color: var(--article-list--text--color);
 }