:root, [data-theme="default"] {
 --swiper-bg-color:#182a4b; 
}
/* Dark Mode Theme */
[data-theme="dark"] {
  --swiper-bg-color:aliceblue;
 }



.swiper {
    width: 100%;
    padding-bottom: 3.125rem;
    background-color: var(--swiper-bg-color);
    border-radius: 8px;
    /* box-sizing: border-box; */
  }
  .swiper h2{
    color: rgb(228, 165, 30);
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #8d7405;
  }
  
  .swiper-pagination {
    bottom: 1.25rem !important;
  }
  
  .swiper-slide {
    width: 18.75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
  }
  
  .swiper-slide h2 {
    color: #0a0a02;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 1.4rem;
    
    line-height: 1.4;
    margin-bottom: 0.625rem;
    padding: 0 0 0 1.563rem;
    text-transform: uppercase;
  }
  
  .swiper-slide p {
    color: #05030f;
    font-family: "Roboto", sans-serif;
  
    font-weight: 300;
    padding: 0 1.563rem;
    line-height: 1.6;
    font-size: 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .swiper-slide a {
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 0.438em 1.875rem;
    font-size: 0.9rem;
  }
  
  .swiper-slide a:hover {
    color: #005baa;
  }
  
  .swiper-slide div {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
  }
  
  .swiper-slide-active div {
    display: block;
    opacity: 1;
  }
  
  .swiper-slide--1 {
    background: white;
    position: relative;
  }
  
  .swiper-slide--2 {
    background: white;
    position: relative;
    
  }
  
  .swiper-slide--3 {
    background: white;
    position: relative;
  }
  
  .swiper-slide--4 {
    background: white;
  }
  
  .swiper-slide--5 {
    background: white;
  }
  
  .swiper-slide--6 {
    background: white;
  }
  
  .swiper-slide--7 {
    background: white;
  }
  
  .swiper-slide--8 {
    background: white;
  }
  
  .swiper-slide--9 {
    background: white;
  }
  
  .swiper-slide--10 {
    background: white;
  }
  
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }
  
  @media screen and (min-width: 48rem) {
    main {
      /* display: flex; */
      align-items: center;
    }
  
    .bg,
    .bg2 {
      opacity: 0.1;
    }
  }
  
  @media screen and (min-width: 93.75rem) {
    .swiper {
      width: 85%;
      
    }
  }
  .swiper img{
    /* margin-bottom: auto; */
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:fill ;
    z-index: 1 ;
    opacity: 1;
  }
  .swiper h2{
    position: relative;
    z-index: 2;
    margin-bottom: 60px;

  }
  .swiper p ,.swiper a{
    position: relative;
    z-index: 2;
  }